.Toolbar {
    height:56px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.header {
background-color : black;
height:40%;
width:100%;
display: flex;
align-items: right;
justify-content: right;
font-size: calc(10px + 2vmin);
color: white;
text-decoration:red;
overflow: hidden;
background-color: green;
padding: 20px 10px;
}

.Applink {
color:black;
margin-left: 15px;
padding-right: 20px;
font-size: larger;
text-decoration: none;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.register{
margin-left: 20px;
cursor: pointer;
height:50px;
width:87px;
text-align: center;
font-weight: bold;
font-size: large;

}
.login{
margin-left: 20px;
cursor: pointer;
background-color: green;
height:50px;
width:70px;
text-align: center;
font-weight: bold;
font-size: large;
}
.login:hover{
background-color: lightgreen;
}
.register:hover{
background-color : gray;
color: white;
}
.logo {
font-size: 50px;
font-weight: bold;
margin-right: 100px;
color: green;
text-decoration: none;
}